.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  padding: 2px 4px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;

  backdrop-filter: blur(8px);

  &--default {
    background-color: rgb(#a0ad99, 0.08);
    color: rgb(#24331d, 0.8);
  }

  &--waiting {
    background-color: var(--sementic-danger-regular);
    color: var(--sementic-danger-strong);
  }

  &--complete {
    background-color: var(--sementic-successs-regular);
    color: var(--sementic-successs-strong);
  }
}
