.place-card {
  width: 130px;
  height: 92px;
  padding: 6px;
  border-radius: 12px;
  box-sizing: border-box;

  background-color: rgba(#ffffff, 0.8);
  backdrop-filter: blur(8px);
  box-shadow:
    0 0 80px rgba(0, 0, 0, 0.1),
    0 0 64px rgba(36, 51, 29, 0.2);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .title {
    display: flex;
    font-size: 16px;
    font-weight: 700;
    color: #000;
    gap: 4px;
    align-items: center;
    display: block;
  }

  .likes {
    font-size: 12px;
    color: #467a2c;
    display: flex;
    align-items: center;
    gap: 4px;

    .heart {
      width: 13px;
      height: 13px;
      object-fit: contain;
    }

    .like-text {
      color: rgba(#24331d, 0.6);
      font-weight: 400;

      &.active {
        color: #467a2c;
      }
    }
  }
}
