.alarm {
  height: 56px;
  width: 297px;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  padding: 16px;
  border-radius: 12px;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;

  background-color: var(--semantic-brand-strong);
  color: var(--content-elevated);
}
