.badge {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 4px;

  padding: 2px 4px;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;

  backdrop-filter: blur(8px);

  &--default {
    background-color: rgb(#a0ad99, 0.08);
    color: rgb(#24331d, 0.8);
  }

  &--waiting {
    background-color: var(--semantic-brand-regular);
    color: var(--semantic-brand-strong);
  }

  &--complete {
    background-color: var(--background-fill-strong);
    color: var(--content-disabled);
  }
  &--selected {
    background-color: var(--background-fill-strong); // ✅ 선택됐을 때 배경
    color: var(--content-elevated); // 텍스트 색도 원하면 변경
  }
}
