.marker {
    min-width: 169px;
    border-radius: 12px;
    background-color: var(--background-fill-interactive);

    &.point {
        background-color: var(--semantic-brand-strong);

        .title {
            .category {
                color: var(--content-elevated);
            }

            .status {
                background-color: var(--background-fill-strong);
                color: var(--content-elevated);
            }
        }

        .like {
            .count {
                color: var(--content-elevated);
            }
        }
    }

    &.selected {

    }

    .title {
        display: flex;
        align-items: center;
        padding: 8px 16px;

        svg {
            flex: 0 0 auto;
            margin-right: 8px;
        }

        .category {
            flex: 0 0 auto;
            font-size: 18px;
            color: var(--content-base);
            line-height: 26px;
        }

        .status {
            display: block;
            flex: 0 0 auto;
            margin: 0 4px 0 6px;
            border-radius: 4px;
            background-color: var(--semantic-brand-regular);
            font-size: 12px;
            font-weight: 500;
            color: var(--semantic-brand-strong);
            line-height: 22px;
        }
    }

    .like {
        display: flex;
        align-items: center;
        padding: 8px 16px;
        gap: 6px;

        svg {
            flex: 0 0 auto;
            width: 16px;
            height: 16px;
        }

        .count {
            display: block;
            flex: 0 0 auto;
            font-size: 14px;
            color: var(--content-base);
            line-height: 20 px;
        }
    }
}