.container {
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding-bottom: 34px;
}

.header {
  display: flex;
  align-items: center;
  gap: 16px;
  min-height: 60px;

  padding: 16px 20px;
  box-sizing: border-box;
}

.icon {
  width: 20px;
  height: 20px;
}

.title {
  font-size: 24px;
  font-weight: 700;
  flex: 1;
}

.badge {
  padding: 2px 6px;
  font-size: 12px;
  font-weight: 600;
  border-radius: 4px;
  background-color: var(--semantic-brand-regular);
  color: var(--semantic-brand-strong);
}

.info {
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  gap: 2px;
  .address {
    font-size: 18px;
    font-weight: 700;
    color: var(--content-base);
  }

  .description {
    font-size: 14px;
    color: rgb(#24331d, 0.8);
    line-height: 24px;
    font-weight: 500;
  }
}

.imageBox {
  display: flex;
  gap: 12px;
  justify-content: center;
  .imageArea {
    border-radius: 12px;
  }
}

.likes {
  display: flex;
  flex-direction: column;
  padding: 10px 16px;

  align-items: center;
  gap: 8px;
}

.heartIcon {
  width: 14px;
  height: 14px;
}

.likeCount {
  font-size: 14px;
  font-weight: 500;
}

.likeText {
  font-size: 12px;
  font-weight: 400px;
  line-height: 18px;
  color: var(--content-assistive);
}
